{% extends "layout.html" %}
{% from "macros.html" import form_field with context %}

{% block title %}Suche | {{ super() }}{% endblock %}
{% block og_title %}Suche | {{ super() }}{% endblock %}

{% block outer_form_begin %}
<form id="paper-search-form" method="post">
{% endblock %}

{% block outer_form_end %}
</form>
{% endblock %}

{% block statement %}

    <div class="row">
        <div class="col-md-12">
            <h1>Suche nach Ratsdokumenten</h1>
        </div>
    </div>
    <div class="row row-form">
        {{ form_field(form.text, 6) }}
        <div class="col-md-6">
            <label for="region">Region</label>
            <div id="region-select-box" data-regions='{{ regions|safe }}'>
                <div id="region-current" data-id="root">Weltweit</div>
            </div>
        </div>
    </div>
    <div class="row row-form">
        {{ form_field(form.daterange, 6) }}
        <div class="col-md-6">
            <label for="type">Vorlagen-Typ</label>
            <div id="paper-type-select-box"></div>
        </div>
    </div>
    <div class="row row-form">
        {{ form_field(form.legacy, 12, 'input-checkbox') }}
    </div>
    <div class="row row-form">
        {{ form_field(form.submit, 12, 'input-submit') }}
    </div>
    {{ form.csrf_token }}
{% endblock %}

{% block content %}
    <div class="row no-gutters">
        <div class="col-md-12">
            <div id="paper-search-results" class="container"></div>
        </div>
    </div>
{% endblock %}
