{% extends "layout.html" %}
{% from "macros.html" import form_field with context %}

{% block title %}Karte | {{ super() }}{% endblock %}
{% block og_title %}Karte | {{ super() }}{% endblock %}

{% block bodyclass %}default wide-statement{% endblock %}

{% block outer_form_begin %}
<form id="paper-geo-form" method="post">
{% endblock %}

{% block outer_form_end %}
</form>
{% endblock %}


{% block statement %}
    <div class="row row-form">
        {{ form_field(form.location, 12) }}
    </div>
    <div class="row row-form">
        {{ form_field(form.legacy, 12, 'input-checkbox') }}

    </div>
    <div class="row row-form">
        <div class="col-md-12">
            <div id="sd-map"></div>
            <div id="overview-map-legend">
                <span class="map-oparl"></span> OParl-Kommunen
                | <span class="map-legacy"></span> "Politik bei uns 1"-Kommunen
                | <a href="/info/daten">Mehr Informationen</a>
            </div>
        </div>
    </div>
    {{ form.csrf_token }}
    <input type="submit" style="display: none;">
{% endblock %}

{% block content %}
    <div class="row no-gutters">
        <div class="col-md-12">
            <div id="paper-geo-results" class="container"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        config = {
            mapbox_token: '{{ config['MAPBOX_TOKEN'] }}',
            regions: {{ regions|safe }}
        }
    </script>
    {{ super() }}
{% endblock %}