
#region-label {
  margin-bottom: 0.5rem;
}

#region-label span {
  cursor: pointer;
}

#region-select-box {
  margin-bottom: 1rem;
  position: relative;
}

#region-current, #region-parent, .region-child {
  padding: 0.5rem 0.75rem;
}

#region-current {
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  line-height: 1.25;
  background: #FFF;
}

#region-box-inner {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

#region-parent, .region-child {
  position: relative;
  padding-left: 1.75rem;
}

#region-box-inner {
  position: absolute;
  max-height: 300px;
  overflow-y: auto;
  left: 0;
  right: 0;
  z-index: 5000;
  background-color: #FFF;
}

#region-parent, .region-child {
  cursor: pointer;
}

#region-parent {
  border-bottom: 1px solid #ced4da;
}

#region-parent:before, .region-child:before {
  font-family: FontAwesome;
  position: absolute;
  left: 0.5rem;
}

#region-parent:before {
  content: '\f0a8\00a0';
}

.region-child:before {
  content: '\f0a9\00a0';
}

.region-inactive {
  color: #999999;
}

.modal-dialog {
  margin-top: 80px;
}

#region-overview h5 {
  cursor: pointer;
}

.region-arrow {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
