@import "layout";
@import "footer";
@import "forms";
@import "frontpage";
@import "paper-single";
@import "search-list";
@import "region-select";
@import "search-map";
@import "share";

.nogutter {
  padding-left: 0;
  padding-right: 0;
}

.row-form, .gap-after {
  padding-bottom: 20px;
}

.gap-before {
  padding-top: 20px;
}

.error input {
  border-color: #d9534f;
}

a.btn-default {
  border-color: #ccc;
  color: #333;
}

.bootstrap-multiselect {
  display: block;
}

.wide-statement #statement {
  max-width: none;
}

#statement .bootstrap-multiselect a {
  color: #000;
}

.dropdown-toggle {
  cursor: pointer;
}

#sd-results {
  padding: 0;
}

#sd-results .row {
  padding-top: 15px;
  padding-bottom: 15px;
}

#sd-results .row-alt {
  background-color: #ebf4e3;
}

#overview-map {
  height: 500px;
}

.modal-backdrop {
  z-index: 3500;
}

.ekko-lightbox {
  z-index: 4000;
}

#order-by {
  width: auto;
  display: inline-block;
}

#data-statistics {
  display: block;
  width: 100%;
  overflow-x: scroll;
}

#keyword-form .btn, #location-form .btn {
  padding: 0.125rem 0.75rem;
}

#paper-map-box.no-location {
  display: none;
}

#paper-map-box h4 {
  margin-top: 1rem;
}

#location-form > div {
  width: 100%;
}

#location-form #location-live {
  top: 32px;
  left: -15px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

#location-form .live-search-list li {
  padding: 4px 16px;
}

.file-actions .btn {
  margin-right: 1rem;
}

#file-text-raw {
  white-space: pre-wrap;
}

.agendaItem-number {
  float: left;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

.agendaItem-content {
  margin-left: 50px;
}

.paper-single-meetings p {
  margin-bottom: 0;
}

.paper-single-meetings {
  margin-bottom: 1.5rem;
}

.legacy-warning {
  font-style: italic;
}

.mobile #sd-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

.mobile #paper-geo-form {
  position: absolute;
  top: 66px;
  left: 0;
  right: 0;
  background-color: #ebf4e3;
  z-index: 2000;
}

.mobile #paper-geo-form input {
  margin-top: 10px;
}

.mobile #paper-geo-form .row {
  margin-left: 0;
  margin-right: 0;
}

.mobile #paper-geo-form .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

.mobile #paper-geo-form label[for="sd-location"] {
  display: none;
}

.mobile #content-wrapper {
  position: absolute;
  height: 40px;
  overflow: hidden;
  z-index: 2000;
  bottom: 0;
  left: 0;
  right: 0;
}

.mobile #content {
  padding-top: 0;
}

.mobile #footer-wrapper {
  display: none;
}

#mobile-show-results {
  text-align: center;
  cursor: pointer;
  padding-top: 7px;
}

#overview-map-legend {
  padding-top: 15px;
  text-align: center;
}

.map-oparl, .map-legacy {
  display: inline-block;
  height: 14px;
  width: 14px;
}

.map-oparl {
  background-color: rgba(66, 130, 56, 0.5);
  border: 1px solid #428238;
}

.map-legacy {
  background-color: rgba(220, 196, 0, 0.5);
  border: 1px solid #dcc400;
}

.row-distance {
  margin-bottom: 30px;
}

.search-table-result-header-text {
  font-size: 1.6rem;
}

span.form-control {
  border: 1px solid #ced4da;
}

#contact-form .row-line-3 {
  display: none;
}