{% macro form_field(field, box_width=12, form_type='input-text', unit=None, extra_classes=None) -%}
    <div class="col-md-{{ box_width }}{% if field.errors %} error{% endif %}">
        {% if form_type == 'input-text' %}
            {{ field.label }}
            {% if unit %}
                <span class="unit unit-{{ unit }}">{% endif %}{{ field(class="form-control" + (' ' + ' '.join(extra_classes) if extra_classes else ''), autocomplete="off") }}
        {% if unit %}</span>{% endif %}
        {% elif form_type == 'input-checkbox' %}
            <label>{{ field(class="") }} {{ field.label.text }}</label>
        {% elif form_type == 'input-submit' %}
            {{ field(class="form-control") }}
        {% endif %}
        {% if field.description %}
            <p>{{ field.description|safe }}</p>
        {% endif %}
        {% if field.errors %}
            <p class="text-danger">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </p>
        {% endif %}
    </div>
{%- endmacro %}

{% macro thumbnail_show(file, details_button=True) %}
    {% if file %}
        <div>
            {% if file.pages %}
                {% for i in range(1, file.pages + 1) %}
                    <a href="{{ config['PROJECT_CDN_URL'] }}/file-thumbnails/{{ file.body.id }}/{{ file.id }}/1200/{{ i }}.jpg"
                       data-toggle="lightbox" data-gallery="{{ file.id }}">
                        <img src="{{ config['PROJECT_CDN_URL'] }}/file-thumbnails/{{ file.body.id }}/{{ file.id }}/300/{{ i }}.jpg"
                             alt="{% if file.name %}{{ file.name }}{% endif %}">
                    </a>
                {% endfor %}
            {% endif %}
        </div>
        <p class="file-actions">
            {% if details_button %}<a href="/file/{{ file.id }}" class="btn btn-info">Details</a>{% endif %}
            <a href="{% if file.storedAtMirror %}{{ file.mirrorAccessUrl }}{% else %}{{ config['PROJECT_CDN_URL'] }}/files/{{ file.body.id }}/{{ file.id }}/view{% endif %}" class="btn btn-primary">öffnen</a>
            <a href="{% if file.storedAtMirror %}{{ file.mirrorDownloadUrl }}{% else %}{{ config['PROJECT_CDN_URL'] }}/files/{{ file.body.id }}/{{ file.id }}/download{% endif %}" class="btn btn-success">download</a>
            <a href="/file/{{ file.id }}/report" class="btn btn-danger">melden</a>
            {% if file.size %}Dateigröße: {{ file.size|filesize }}{% endif %}
        </p>
    {% endif %}
{%- endmacro %}

{% macro social_media_buttons(type, id, url, title, type_str) %}
<div id="share">
    <a class="facebook"
       href="https://www.facebook.com/share.php?u={{ url }}&title={% if title %}{{ title|urlencode }}{% else %}Namenloses%20{{ type_str }}{% endif %}"
       target="blank"><i class="fa fa-facebook"></i></a>
    <a class="twitter"
       href="https://twitter.com/intent/tweet?status={% if title %}{{ title|urlencode }}{% else %}Namenloses%20{{ type_str }}{% endif %}+{{ url }}"
       target="blank"><i class="fa fa-twitter"></i></a>
    <a class="googleplus" href="https://plus.google.com/share?url={{ url }}" target="blank"><i class="fa fa-google-plus"></i></a>
    <a class="linkedin"
       href="https://www.linkedin.com/shareArticle?mini=true&url={{ url }}&title={% if title %}{{ title|urlencode }}{% else %}Namenloses%20{{ type_str }}{% endif %}&source=Politik%20bei%20uns"
       target="blank"><i class="fa fa-linkedin"></i></a>
    <a href="#" class="wordpress" data-toggle="popover" data-html="true" title="In WordPress anzeigen" data-content='Wenn Sie das Politik bei uns WordPress Plugin einsetzen, können Sie diese {{ type_str }} mit folgendem Shortcode einbinden:<br><code>[politik-bei-uns type="{{ type }}" id="{{ id }}"]</code>'><i class="fa fa-wordpress"></i></a>

</div>
{%- endmacro %}
