{% extends "layout.html" %}
{% from "macros.html" import form_field with context %}

{% block title %}Such-Abos | {{ super() }}{% endblock %}
{% block og_title %}Such-Abos | {{ super() }}{% endblock %}
{% block og_description %}Ihre abbonierten Themen, zu denen sie bei neuen Dokumenten informiert werden möchten.{% endblock %}

{% block statement %}
    <div class="row">
        <div class="col-md-12">
            <h1>Nutzergenerierte Stichworte</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <td>Stichwort</td>
                    <td>Dokument</td>
                    <td>Nutzer</td>
                    <td>Aktionen</td>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <td>Stichwort</td>
                    <td>Dokument</td>
                    <td>Nutzer</td>
                    <td>Aktionen</td>
                </tr>
                </tfoot>
                <tbody>
                {% for keyword in keywords %}
                    <tr>
                        <td>{{ keyword.keyword }}</td>
                        <td>
                            {% if keyword.meeting %}
                                <a href="/meeting/{{ keyword.meeting.id }}">
                                    {% if keyword.meeting.name %}
                                        {{ keyword.meeting.name }}
                                    {% else %}
                                        {{ keyword.meeting.id }}
                                    {% endif %}
                                </a>
                            {% elif keyword.paper %}
                                <a href="/paper/{{ keyword.paper.id }}">
                                {% if keyword.paper.name %}
                                    {{ keyword.paper.name }}
                                {% else %}
                                    {{ keyword.paper.id }}
                                {% endif %}
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ keyword.user.email }}</td>
                        <td><a href="/admin/keyword/{{ keyword.id }}/delete" class="btn btn-danger">löschen</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}