{% extends "layout.html" %}
{% from "macros.html" import form_field with context %}

{% block title %}Recover-Mail gesendet | {{ super() }}{% endblock %}
{% block og_title %}Recover-Mail gesendet | {{ super() }}{% endblock %}

{% block statement %}
    <div class="row">
        <div class="col-md-12">
            <h1>Recover-Mail gesendet!</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>Bitte schauen Sie in Ihr Postfach.</p>
        </div>
    </div>
{% endblock %}
