{% extends "layout.html" %}
{% from "macros.html" import form_field with context %}

{% block title %}Registrierung | {{ super() }}{% endblock %}
{% block og_title %}Registrierung | {{ super() }}{% endblock %}

{% block statement %}

        <div class="row">
            <div class="col-md-12">
                <h1>Registrierung</h1>
            </div>
        </div>
{% endblock %}

{% block content %}
    <form method="POST" action="/register">
        <div class="row row-form">
            {{ form_field(form.email, 12) }}
        </div>
        <div class="row row-form">
            {{ form_field(form.password, 6) }}
            {{ form_field(form.password_repeat, 6) }}
        </div>
        <div class="row row-form">
            {{ form_field(form.submit, 12, 'input-submit') }}
        </div>
        {{ form.csrf_token }}
    </form>
{% endblock %}