{% extends "layout.html" %}

{% block title %}Hilfe | {{ super() }}{% endblock %}
{% block og_title %}Hilfe | {{ super() }}{% endblock %}
{% block og_description %}Hilfe{% endblock %}

{% block statement %}
    <div class="row">
        <div class="col-md-12">
            <h1>Hilfe</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>Wenn alles fertig ist, wird hier eine Bedienungsanleitung erscheinen.</p>
        </div>
    </div>
{% endblock %}