{% extends "layout.html" %}

{% block title %}Mitmachen | {{ super() }}{% endblock %}
{% block og_title %}Mitmachen | {{ super() }}{% endblock %}
{% block og_description %}Politik bei uns kann nur gemeinsam funktionieren.{% endblock %}

{% block statement %}
    <div class="row">
        <div class="col-md-12">
            <h1>Mitmachen</h1>
            <p>Politik bei uns kann nur gemeinsam funktionieren.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>Ein Projekt wie "Politik bei uns" lebt davon, dass viele verschiedene Akteure mitmachen. Seien es
                Menschen oder Organisationen, die die Plattform für ihre Stadt nutzen wollen. Oder seien es die
                Kommunen, welche die Daten bereitstellen; seien es aktive Nutzerinnen und Nutzer, die die Daten
                verbessern. Oder seien es Entwickler und Designer, welche die Plattform selbst verbessern.</p>
            <h2>Neue Kommunen auf Politik bei uns</h2>
            <p>Grundsätzlich kann jede Kommune Teil von Politik bei Uns werden. Voraussetzung ist jedoch, dass das
                Ratsinformationssystem der Kommune den <a href="https://oparl.org">offenen Datenstandard OParl</a>
                unterstützt. Eine OParl-Schnittstelle wird in vom Hersteller des Ratsinformationssystems als Modul
                bereitgestellt. Aktuell unterstützen die Firmen cc e-gov, Somacos und Sternberg den Standard OParl und
                geben gerne Auskunft über das Procedere zur Implementierung in der jeweiligen Software. Für weitere
                Fragen <a href="mailto:kontakt@politik-bei-uns.de">wenden Sie sich gerne an uns</a>.</p>
            <p>Sie sind interessierter Bürger, Ratsmitglied, Mitglied einer Fraktion oder einfach Befürworter von
                „Politik bei uns“, finden Ihre Verwaltung allerdings hier nicht wieder? Dann unterstützen Sie uns und
                beantragen in Ihrer Kommune die Teilnahme an „Politik für uns“.
                <a href="/static/files/Antrag-OParl.rtf">Einen Musterantrag finden Sie hier</a>.</p>
            <h2>Daten verbessern</h2>
            <p>Nicht immer sind die Daten der Kommunen so gut, dass man automatisch alles findet. Deswegen bietet
                "Politik bei uns" die Möglichkeit, Dokumente nachträglich mit Stichworten oder Geopositionen zu
                versehen.</p>
            <h2>Code und Design von "Politik bei uns" verbessern</h2>
            <p>Politik bei uns ist ein Open-Source-Projekt und kann so von vielen Menschen verbessert werden. Den
                Quellcode <a href="https://github.com/politik-bei-uns">findet man auf Github im "Politik bei uns"
                Repository</a>. Pull Requests sind sehr gerne gesehen, Bug-Reports natürlich ebenfalls!</p>
        </div>
    </div>
{% endblock %}