{% extends "layout.html" %}

{% block title %}Über uns | {{ super() }}{% endblock %}
{% block og_title %}Über uns | {{ super() }}{% endblock %}
{% block og_description %}Politik bei uns funktioniert nur, weil ganz verschiedene Akteure bei dem Projekt zusammenarbeiten.{% endblock %}

{% block statement %}
    <div class="row">
        <div class="col-md-12">
            <h1>Über uns</h1>
            <p>Politik bei uns funktioniert nur, weil ganz verschiedene Akteure bei dem Projekt zusammenarbeiten.</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Open Knowledge Foundation Deutschland e.V.</h3>
            <p>Mit offenen Daten kann man vielfältigste Projekte machen und so Zivilgesellschaft, Forschung, Unternehmen, Journalisten und Behörden helfen. Doch der Weg dahin kann auch schon mal holperig sein. Daher bietet die OKF eine Plattform, bei der Beratung, Community und vieles mehr organisiert werden kann.</p>
            <h3>KDVZ Rhein-Erft-Rur</h3>
            <p>Ohne IT-Dienstleister keine IT-Anwendungen.</p>
            <h3>Das OParl-Entwicklerteam</h3>
            <p>Der Anfang von Politik bei uns war mühsam: Daten wurden manuell über Scraper abgerufen. Schnell war die Idee geboren, einen Industriestandard für Informationssysteme zu schaffen. Ein ehrenamtlich arbeitendens Team hat seit dem Jahr 2013 diese Aufgabe verfolgt und im Sommer 2016 OParl 1.0 veröffentlicht. </p>

            <h2>Preise &amp; Auzzeichnungen</h2>
            <p></p>
            <h3>Ort im Land der Ideen 2015</h3>
            <p>Zusammen mit 99 anderen Preisträgern wurde Politik Bei Uns für das Themenfeld "Stadt, Land, Netz!" als ausgezeichneter Ort im Land der Ideen ausgewählt. Weitere Informationen lassen sich auf <a href="https://land-der-ideen.de/projekt/onlineplattform-politik-bei-uns-kommunalpolitik-fuer-dich-356">der Projektseite von Land der Ideen finden</a>.</p>

            <h2>Unterstützer</h2>
            <p>Auch wenn schon viel ehrenamtliche Arbeit Politik bei uns geflossen ist, so kommt ein Plattform dieser Größe nicht ganz ohne finanzielle oder materielle Unterstützer aus.</p>
            <h3>OpenNRW</h3>
            <p>Das Land NRW im Frühjahr 2017 eine Förderung für neue, innovative OpenData-Angebote aufgesetzt. Nach einem kurzen und erfolgreichen Bewerbungsprozess hatten wir so die Chance, die komplette Neuentwicklung von Politik bei uns auf Basis von OParl zu finanzieren. Ebenso finanziert wurden verschiedene Endpunkte bei den teilnehmenden Kommunen.</p>
            <h3>Das Linuxhotel</h3>
            <p>Das Linuxhotel Villa Vogelsang bietet Schulungen uns Kurse überwiegend aus dem Bereich freier Software an. Neben technischem Komfort wie ein vollständig vernetztes Haus incl. Park gibt es auch Freizeitangebote wie ein Fitness- und Saunabereich. Es unterstützte im Jahre 2013 - 2014 das offene Ratsinformationssystem, indem es in der Anfangszeit für ein Jahr die Server sponsorte.</p>
            <h3>anatom5</h3>
            <p>anatom5 bedient alle Bereiche des Kommunikationsdesigns (mit Fokus auf Barrierefreies Internet – zehn Nominierungen und sechs Auszeichnungen beim BIENE-Award). Dazu zählen kombinierte Leistungen, wie Corporate-Design, Print-Publishing, Barrierefreie PDF und Übersetzung von Texten in Leichte Sprache. anatom5 hat das Politik-bei-uns-Logo entwickelt. Motto: "Wir verbinden Politik, Menschen und Orte".</p>
        </div>
    </div>
{% endblock %}